<!DOCTYPE html>
<html>
  <head>
    <title>Homes</title>
    <%= csrf_meta_tags %>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= url_for galleries_path %>">Singlewide-Homes</a></li>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 
  <body>
    <%= yield %>
  </body>
</html>
